h1{
    font-size: 50px;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.name-highlight{
    color: deeppink;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    padding-bottom: 2%;
}
.half-width img{
    width: 100%;
}
.top-part{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-color: deeppink;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(pink, tomato, 45deg,);
}
.biography{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.work{
    float: left;
    width: 28%;
    margin left: 5%;
    padding-left:2%;
    
}
.work img{
    width: 100%;
}
.workb{
        background-image: url("images/latest-work-bg.png");
        background-repeat: no-repeat;
        background-position: left;
        height: 70%;
  }
  footer{
      text-align: center;
      font-size: 20PX;
  }
  .footer{
      background-image: url("images/footer-bg.png");
      background-repeat: no-repeat;
      background-position: left;
      height: 300px;
    
  }
  .center{
      text-align: center;
 .boxe{
     border: 3px;
 }
 p{
     color: dimgray;
 }